html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    background-color: #F4F7F9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}




*{
    box-sizing: border-box;
}

/*
    Ortak Alanlar
*/

.btn{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    background-color: #316aff;
    letter-spacing: 1px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: 200ms all;
}

.btn:hover{
    transform: scale(1.05);
}

/*
    Header
*/

.container{
    width: 1300px;
    margin :0 auto;
}

.header{
    background-color: #141618;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header .container{
    height: 60px;
    display: flex;
    align-items: center;
}

.header .container .logo{
    margin-right: 40px;
}

.header .container .menu ul li a{
    color: rgba(255, 255, 255, .6);
    height: 60px;
    display: flex;
    align-items: center;
}

.header .container .menu ul li a i{
    margin-right: 10px;
}

.header .container .search{
    display: flex;
    margin-left: auto;
    border-radius: 4px;
    overflow: hidden;
}

.header .container .search input{
    background-color: #21252d;
    height: 34px;
    width: 250px;
    color: #fff;
    padding: 0 10px;
}

.header .container .search input::placeholder{
    color: rgba(255, 255, 255, .6);
    transition: 200ms opacity;
}

.header .search input:focus::placeholder{
    opacity: 0;
}


.header .container .search button{
    width: 32px;
    height: 34px;
    background-color: #21252d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.header .container .search button:hover{
    background-color: #316aff;
}

.header .container .menu ul li a:hover{
    color: #fff
}


.header .container .login-buttons ul{
    display: flex;
}

.header .container .login-buttons ul li{
    margin-left: 15px;
}

.header .container .login-buttons ul li a{
    color: rgba(255, 255, 255, .8);
    display: block;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}

.header .container .login-buttons ul li a:hover{
    color: #fff;
}

.header .container .login-buttons ul li.join-now-btn a{
    background-color: #36855b;
    border-radius: 4px;
    padding: 0 10px;
    color: #fff;
}

/*
    Banner Section
*/

.banner{
    background: linear-gradient(170deg, #212A39, #181E28);
}

.banner .container{
    min-height: 50vh;
    display: flex;
    padding: 70px 0;
    align-items: center;
}

.banner .container .banner-box{
    width: 50%;
}

.banner .container .banner-box img{
    max-width: 100%;
    transition: 200ms transform;
}

.banner .container .banner-box img:hover{
    transform: scale(1.1);
}

.banner .container .banner-box.banner-image{
    padding-left: 150px;
}

.banner .container .banner-box h1{
    font-size: 48px;
    color: #fff;
    line-height: 56px;
    font-weight: 500;
}

.banner .container .banner-box h2{
    color: #B0B6BE;
    font-size: 24px;
    margin-top: 10px;
}

.banner .container .banner-box .btn{
    margin-top: 65px;
}


/*
    Section 1
*/

.section1{
    display: flex;
    align-items: center;
    padding: 120px 0 100px 0;
}

.section1 .lang{
    display: flex;
    width: 392px;
    min-width: 392px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section1 .lang a{
    width: 184px;
    height: 184px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    transition: 200ms all;
}

.section1 .lang a:hover{
    transform: scale(1.05);
}

.section1 .lang a img{
    margin-bottom: 20px;
    height: 40px;
}

.section1 .lang a .title{
    font-size: 18px;
    color: #111;
}

.section1 .inner{
    padding-left: 160px;
}

.section1 .inner h3{
    font-size: 36px;
    color: #111;
    margin-bottom: 30px;
}

.section1 .inner p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 28px;
}

/*
    Section2
*/

.section2{
    background-color: #fff;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    padding: 64px 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 100px;
}


.section2 .icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f4f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7dbe7;
    font-size: 22px;
    margin-bottom: 32px;
}

.section2 p{
    font: 22px/36px georgia, times, serif;
    margin-bottom: 10px;
    text-align: center;
    max-width: 60%;
}

.section2 .user{
    display: flex;
    align-items: center;
    color: rgba(0,0,0,.7);
}

.section2 .user img{
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
}

/*
    Section 3
*/

.btn.color-green{
    background-color: #36855b;   
}


.section3{
    display: flex;
    padding:0 30px;
}

.section3  div{
    width: 50%;
    min-width: 50%;
}

.section3 .text h3{
    font-size: 36px;
    margin-bottom: 20px;
}

.section3 .text p{
    font-size: 18px;
    line-height: 28px;
    color: #111;
}

.section3 .text .btn{
    margin-top: 50px;
}

.section3 .image img{
    width: 100%;
    display: block;
}

.section3 .image{
    padding-top: 100px;
}

/*
    Footer
*/

.footer{
    background-color: #141618;

}

.footer .container{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.footer .logo{
    margin-bottom: 40px;
}

.footer .container .footer-nav{
    display: flex;
    align-items: center;
}

.footer .container .footer-nav nav{
    margin-right: 32px;
    align-self: flex-start;
}

.footer .container .footer-nav nav h6{
    letter-spacing: 1.2px;
    color: #fff;
    margin-bottom: 10px;
}

.footer .footer-nav nav ul li{
    margin-bottom: 4px;
}

.footer .footer-nav nav ul li a{
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255,255, 255, .5);
    transition: 200ms color;
}

.footer .footer-nav nav ul li a:hover{
    color: #fff;
}

.footer .container .footer-nav .search{
    margin-left: auto;
}

.footer .container .footer-nav .search h6{
    color: #fff;
    font-size: 20px;
    margin-bottom: 16px;
}

.footer .container .footer-nav .search form{
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

.footer .container .footer-nav .search input{
    height: 48px;
    width: 375px;
    background-color: #21252d;
    padding: 0 15px;
    color: white;
}

.footer .container .footer-nav .search button{
    height: 48px;
    width: 48px;
    background-color: #316aff;
    color: white;
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
}

.footer .container .copyright{
    padding-top: 25px;
    margin-top: 25px;
    font-size: 14px;
    color: rgba(255,255, 255,.5);
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.footer .container .copyright a{
    color: rgba(255,255, 255,.5);
    margin-right: 10px;
    transition: 200ms color;
}
.footer .container .copyright a:hover{
    color: rgba(255,255, 255,1);
    margin-right: 10px;
}